@use "../styles/variables" as *;

.tab-bar {
  & {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: calc($tab_bar_height + env(safe-area-inset-bottom));
    box-sizing: border-box;
    padding: 24px;
    padding-bottom: max(24px, env(safe-area-inset-bottom));
    background-color: rgba(30, 30, 30, 0.8);
    //background-color: #1a1a1acc;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 48px;
    max-width: 180px;
  }

  &-item {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(127, 127, 127, 0.04);
    &--active {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(127, 127, 127, 0.08);
      font-weight: bold;
    }
  }

  &-item {
    margin-left: 16px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
